@import '../../styles/variables';

.header {
    background-color: $main;
    color: white;
    display: flex;
    padding: 16px;
    align-items: center;
}
.language_switcher {
    margin-left: auto;
}
