@use 'variables' as *;

.header {
    background-color: $main-color;
    color: white;
    display: flex;
    padding: 16px;
    align-items: center;
}

.title {
    &:hover {
        color: skyblue;
    }
}

.language_switcher {
    margin-left: auto;
}
