.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question {
    font-size: 4rem;
    padding: 16px;
}

.dojo_button {
    background: linear-gradient(180deg, #9b4513, #8a1806);
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px #3e1c00;
    color: #000;
    cursor: pointer;
    font-family: 'Sawarabi Mincho', serif;
    margin-top: 5px;
    padding: 5px 10px;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0 6px #4e1c00;
        transform: translateY(2px);
    }

    &:active {
        box-shadow: 0 2px #4e1c00;
        transform: translateY(2px);
    }
}
