@use 'variables' as *;

.select_wrap {
    background-color: $main-color;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    position: relative;
}

.language_switcher {
    appearance: none;
    background-color: $main-color;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;

    &:hover {
        color: skyblue;
    }
}
